name: amz_360
description: A new flutter plugin project.
version: 0.0.1
homepage:

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  vector_math: ^2.1.0
  path: ^1.8.0
  collection: ^1.15.0
  dio: ^4.0.4
  youtube_player_flutter: ^8.0.0
  video_player: ^2.2.15

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.amzpro.amz_360
        pluginClass: Amz360Plugin
      ios:
        pluginClass: Amz360Plugin
